body{
    font-family: 'Geist' sans-serif;
    background-image: url(../assets/pattern.png);
    background-size: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.car{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0,0,0,0.5);
}

.header{
    margin-bottom: 20px;
    font-weight: 800px;
}

.p{
    margin-bottom: 5px;
    font-size: 20px;
}

.economy h1{
    color: darkorange;

}

.luxury h1{
    color: blue;

}

.family h1{
    color: green;

}

a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 5px;
}

.economy a{
   background-color: darkorange;

}

.economy a:hover{
    background-color: rgba(255, 140, 0, 0.691);
 
 }

.luxury a{
    background-color: blue;

}

.luxury a:hover{
    background-color: rgba(0, 0, 255, 0.768);

}

.family a{
    background-color: green;

}

.family a:hover{
    background-color: rgb(0, 128, 111);

}

.economy{
    background-color: white;
    background-image: url(../assets/economic-car.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
}

.luxury{
    background-color: white;
    background-image: url(../assets/luxury-car.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
}

.family{
    background-color: white;
    background-image: url(../assets/family-car.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
}


